/build_windows
/build/bin/Debug
/SampleGuiPlugin1/Win
/SampleGuiPlugin2/Win
/SampleNonGuiPlugin/Win
/wxGuiPluginBase/Win
/wxModularCore/Win
/idgetModularHost/Win
/wxNonGuiPluginBase/Win
/SampleGuiPlugin1/Linux/Debug
/SampleGuiPlugin2/Linux
/SampleNonGuiPlugin/Linux
/wxGuiPluginBase/Linux
/wxModularCore/Linux
/wxModularHost/Linux
/wxNonGuiPluginBase/Linux
/build/bin
/build/bin_windows
/build/bin_windows/Debug
/3rdparty
build_linux
wxModularHost/Win
build/test_build
/build/Win
/build/Release